/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --text-navbar: #262626;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #D9D9D9;

    --toggle-circle: #6484AA;
    --riwayat-even: #EEF6FF;
    --navside-color: #3786E5;
    --light-blue: #F4F9FF;
    --go-green: #43DF36;
    --light-green: #5AE2BB;
    --red-fire: #FF4E4E;
    --white-navbar: #ffffff;
    --box1-shadow: #5fa4f29f;

    --even-num: #9AB1CC;
    --date-box: #B5C8DF;
    --even-status: #DFEEFF;

    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color) ;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--toggle-circle);
    border-radius: 12px;
    transition: all 0.3s ease;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    padding: 10px 14px;
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.15) !important;
    background-color: var(--navside-color);
}


nav.close{
    width: 73px;
}

nav .logo-name{
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 0.3px solid rgb(94, 93, 93);
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links {
    padding: 0 !important;
}


.nav-links li:nth-child(3) a::before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--white-navbar);
}


.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--panel-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(218, 218, 218);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: rgb(218, 218, 218);    
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--panel-color);
}

.menu-items .nav-links li:nth-child(3) a .link-name, 
.menu-items .nav-links li:nth-child(3) a i  {
    color: var(--white-navbar) !important;
}


.menu-items .logout-mode{
    padding: 0 10px 0 0 !important;
    color: var(--text-color);
}

.logout-mode .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.logout-mode .mode-toggle{
    position: relative;
    left: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--toggle-circle);
    border-radius: 50%;
    transition: var(--tran-03);
}



/* Dashboard */
.dashboard{
    position: relative;
    left: 220px;
    background-color: var(--light-blue);
    min-height: 100vh;
    width: calc(100% - 220px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 220px;
    display: flex;
    width: calc(100% - 220px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.10);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--toggle-circle);
    cursor: pointer;
}


.boxes .box .rate  {
    color: var(--light-green);
}

.boxes .box .rate-down {
    color: var(--red-fire);
}


.name-pasien .name {
    color: var(--toggle-circle) !important;
}

.name-pasien .pasien {
    color: var(--border-color) !important;
}

.user-picture ul li a {
    color: var(--toggle-circle);
}


.dashboard .top .left-side {
    position: relative;
}

.dashboard .top .left-side .search-box{
    position: relative;
    height: 45px;
    width: 500px;
    margin: 0 0;
}

.form-control {
    border-radius: 3px !important;
    border: none;
    border-bottom: 1px solid #E0E0E0;
}

.form-control:focus {
    box-shadow: 0 1px 6px -2px var(--box1-color) !important;
    border-bottom: 3px solid var(--box1-color) !important;
}


.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--light-blue);
    padding: 0 50px 0 20px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i{
    position: absolute;
    right: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img{
    width: 40px;
    border-radius: 50%;
}


.fa-bell,
.fa-envelope, 
.fa-chevron-down {
    font-size: 20px !important;
    color: var(--toggle-circle);
}

.fa-angles-left {
    color: var(--toggle-circle);
}

.fa-sort-up
{
  font-size: 20px !important;
  color: var(--go-green);
}


.dashboard .dash-content{
    padding-top: 50px;
}


.navRiwayat{
    width: 95%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
} 

.navRiwayat .inNavRiwayat div {
    cursor: pointer;
    
}

.navRiwayat .inNavRiwayat div div {
    background-color: var(--toggle-circle);
    padding: 10px 50px;
    border-radius: 4px;
}

.navRiwayat .inNavRiwayat div a {
    color: var(--panel-color);
}

.riwayat:nth-child(even){
    background-color: var(--riwayat-even) !important;
}

.riwayat {
    width: 100%;
    height: 100px;
    background-color: var(--panel-color);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.178);
}

.riwayat-title h3 {
    color: var(--toggle-circle);
}

.riwayat-text span {
    color: var(--date-box);
}

.riwayat-number {
    background-color: var(--even-num);
    border-radius: 6px;
}

.riwayat-status {
    background-color: var(--even-status);
    align-self: flex-start;
    border-radius: 100px;
}

.riwayat-status span {
    font-size: 12px;
    color: var(--toggle-circle);
}



.nav-tabs .nav-link.active {
    background-color: var(--panel-color) !important;
}

.nav-tabs li button{
    color: var(--toggle-circle) !important;
}

.btn-ap button{
    background-color: var(--toggle-circle) !important;
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 6px;
}



#liveAlertPlaceholder {
    position: fixed;
    margin: 0 auto;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    /* transform: translate(); */
    z-index: 999;
}

.alert-success {
    padding: 70px !important;
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #92E4CC !important;
    --bs-alert-border-color: #badbcc;
    font-weight: 600 !important;
}





/* DARK MODE */
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box1-shadow: #4d4848;
    --title-icon-color: #CCC;

    --navside-color: #363738;
    --light-blue: #1a1b1b;
    --toggle-color: #434747;

    --riwayat-even: #131414;
}


body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

body.dark .switch:before{
    left: 20px;
}

body.dark .dropdown-menu {
    background-color: var(--panel-color);
}


body.dark .dropdown-menu li a {
    color: var(--text-color);
}


body.dark .dropdown-menu li a:hover {
    background-color: #5CBBE3;
}
/* Responsive */






@media (max-width: 560px) {

    .dash-content .boxes .box{
        width: 100% ;
    }

    nav{
        width: 0px;
    }

    nav.close{
        width: 73px;
    }

    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }

    .chart-wrap .box-chart {
        border-radius: 6px;
        min-height: 300px ;
    }

}


@media (max-width: 780px) {

    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
    
}


@media (max-width: 1000px) {
    
    nav{
        width: 73px;
    }

    nav.close{
        width: 250px;
    }

    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }

    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data{
        overflow-X: scroll;
    }

}